<css>
body {
   background-image: linear-gradient(300deg, rgb(255,0,0), rgb(7,7,7));
    height: 1000px; 
}
  * {
    margin:0 ;
    padding:0 ;
  }
h1 {
  float:right;
  font-size:40px ;
  text-shadow :5px 5px #000000;
  font-family:Lucida Handwriting ;
  color:#747474;
}
  .input-box {
    margin:31px auto;
    width:80%;
    padding-top:10px;
    padding-bottom:5px;
  }
.input-box input{
  width:90%;
  border:double;
  outline:none;
  border-color:#020202 #000000 #ffffff;
  background:linear-gradient(60deg, rgb(255,0,0), rgb(7,7,7));;
  color:#615F5F;
  font-size:20px;
}
::placeholder{
  color:#ffffff;
}
.login-btn{
  margin:40px auto 20px;
  width:80%;
  display:block;
  outline:none;
  padding:10px 0;
  border:5px double #6F6F6F;
  cursor:pointer;
  background:linear-gradient(300deg, rgb(255,0,0), rgb(7,7,7));;
  color:#746F6F;
  font-size:20px;
}
a:link {
  color:#746F6F;
   text-decoration:none;
}
a:visited {
  color: #746F6F;
}
a:hover {
  color: #746F6F;
  text-decoration :none;
}
a:active {
  color: #746F6F;
  text-decoration :none;
}

</css>
